html,
body,
.view {
  height: 100%;
}

.fundoIntro {
  height: 65%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 360px;
  }
  .fundoIntro {
    height: 350px;
  }
  
  .h1-responsive{
    font-size: 30px;
    margin-top: 112px;
    padding: 10px;
  }
}

@media (min-width: 741px) and (max-width: 768px) {
  html,
  body,
  header,
  .view {
    height: 360px;
  }
  .fundoIntro {
    height: 350px;
  }
  
  .h1-responsive{
    font-size: 30px;
    margin-top: 120px !important;
    padding: 10px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
  .fundoIntro {
    height: 600px;
  }
}

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: #424f95 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}



.btn-white {
  color: black !important;
}

h6 {
  line-height: 1.7;
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
  background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}